<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" href="brief" ><h4>Brief</h4></a>
		<a id="b1" href="agenda" class="activ"><h4>Agenda</h4></a>
		<a id="b1" href="checklist"><h4>Check List</h4></a>
		<a id="b2" href="criteria" ><h4>Criteria</h4></a>
		<a id="b3" href="prizes" ><h4>Prizes</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
		<img src="images/agenda.png"  alt="...">

	</div>



