<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Inspiration</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" href="dollar-shave-club" ><h4>Dollar Shave Club</h4></a>
		<a id="b1" href="washio"><h4>Washio</h4></a>
		<a id="b1" href="honest-company"><h4>The Honest Company</h4></a>
		<a id="b2" href="task-rabbit" ><h4>Task Rabbit</h4></a>
		<a id="b3" href="hassle" ><h4>Hassle</h4></a>
		<a id="b3" class="activ" href="bizzby" ><h4>Bizzby</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
	 		<div class="brief">
	 			<iframe width="560" height="315" src="https://www.youtube.com/embed/6k2jnqnuGXU" frameborder="0" allowfullscreen></iframe>
	 			<br><br><h2 class="pages">Founded<br>in 2012</h2><br>by Howard Lewis - Michael Camilleri-Ferrante - Rohan Sinclair Luvaglio</div>
	 		
	 		<div class="brief">Bizzby is a on demand, instant services on your smartphone. When you need them, tap the App and within seconds you can book a range of real services that arrive within minutes at fixed or hourly prices.<br><br>They brings local service professionals to your door within 60 mins: No more last minute cancellations and you can even track your job in real-time on a map with live arrival time in minutes.<span class="italic">Crunchbase / Google Play</span><br><br><br>
	 			<a href="http://bizzby.com" class="btn" style="width:180px;" target="_blank">www.bizzby.com</a>
			</div>
	 	</div>
	</div>
</div>
</body>