<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>
 

<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft">
		<a id="b4" href="brief" class="activ" onClick="loadFrame(this)"><h4>Brief</h4></a>
		<a id="b1" href="agenda" onClick="loadFrame(this)"><h4>Agenda</h4></a>
		<a id="b1" href="checklist"><h4>Check List</h4></a>
		<a id="b2" href="criteria" onClick="loadFrame(this)"><h4>Criteria</h4></a>
		<a id="b3" href="prizes" onClick="loadFrame(this)"><h4>Prizes</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
	<img src="images/brief.png"  alt="...">

	<div class="brief">
Unilever Homecare has partnered with the leaders of the on-demand economy and e-commerce services to provide the tools you need to revolutionize the way we purchase consumer goods and services for our homes. Think Amazon Dash and the way stocking has been made a breeze. So, what ticks you off about care of your home and how can we solve this?<br><br>Remember, hackathons are all about having fun so build what you want, how you want it and make sure to enjoy it while it's happening. If you are in it to win it, then gear yourself more towards building a viable business or product within the brief and refer to the inspirations section for some cool ideas. Don’t forget to learn from the mentors and fellow attendees around you, play around with Stripe and Twilio’s API's, enjoy the free AWS credits and build something awesome!
	</div>

	<div class="checkout">
		Check out these examples of<br>successful on-demand start-ups:
	</div>


	<br><br><br>
		<div class="brieflist">
	    <a href="https://www.dollarshaveclub.com/" target="_blank">
	<img src="images/brieflogo1.png"  alt="..." title="" class="left">
		</a>
		<a href="http://www.getwashio.com/" target="_blank">
	<img src="images/brieflogo3.png"  alt="..." title="" class="left">
		</a>	
		<a href="https://www.honest.com/" target="_blank">
	<img src="images/brieflogo2.png"  alt="..." title="" class="left">
 		</a>
 		<a href="https://www.taskrabbit.co.uk/" target="_blank">
	<img src="images/brieflogo4.png"  alt="..." title="" class="left">
		</a>
	<div class="clear"></div>
	</div>
<br><br><br>
	<div class="checkout">
		What themes are common in<br>these rapidly growing start-ups? 
	</div>
	<img src="images/brief2.png"  alt="...">
<!--
	<div class="checkout"><br>
		Check out more examples<br>to get inspired from!
		<div id="center" class="button">
		<br><br>
		<a href="inspirations" style="width:150px;"class="btn">Inspirations</a>
		</div>
	</div>-->

</div>
	</div>
</div>
</body>

