<body><div class="container-fluid">
	<table style="width:100%">
<div id="left"><h3></h3></div>
<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
<div class="clear"></div>
</table>
   
<div class="row">

	<div class="col-md-2" id="menuleft" >
		<a id="b4"  href="business-model"  ><h4>Business model</h4></a>
		<a id="b4" class="activ" href="business-model-infographic" ><h4>Infographic</h4></a>
	</div>

	 <div class="col-md-10">
<div class="insidecontent" >
	 		<div class="brief">
			<img src="images/businessmodel.jpg" style="max-width:800px;" alt="..." title="" class="left">
	 		</div>
	 		


			</div>


	 	</div>

</div>
</div></body>
