<body><div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>
 

<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft">
		<a id="b4" href="brief"  onClick="loadFrame(this)"><h4>Brief</h4></a>
		<a id="b1" href="agenda" onClick="loadFrame(this)"><h4>Agenda</h4></a>
		<a id="b1" href="checklist" class="activ" ><h4>Check List</h4></a>
		<a id="b2" href="criteria" onClick="loadFrame(this)"><h4>Criteria</h4></a>
		<a id="b3" href="prizes" onClick="loadFrame(this)"><h4>Prizes</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
		<img src="images/checklist.png"  alt="...">
		<div class="checkoutleft">Ready to Hack?<br>Don't forget to bring these items with you this weekend : </div>
			<table class="checklist">
    		<tr>
        		<td>
        			<input type="checkbox" />  Toiletery - Toothbrush, Toothpaste, deodorant(?)
        		</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Towel and soap - If you want to shower!</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Sleeping bag</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> A pillow if needed</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Your laptop</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Your laptop charger</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Your favourite pen</td>
		    </tr>
		     <tr>
		        <td><input type="checkbox" /> Comfy clothes for yoga in the morning!</td>
		    </tr>
		    <tr>
		        <td><input type="checkbox" /> Your yoga mat? Please, if you have one, bring it along to attend our sunday morning yoga session</td>
		    </tr>
		    
</table>
		<div class="checkoutleft">If you don't have a yoga mat,<br>don't worry, just come along with your good vibes.</div>

		</div>
	</div>
</div>

</body>

