<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Inspiration</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" class="activ" href="dollar-shave-club" ><h4>Dollar Shave Club</h4></a>
		<a id="b1" href="washio"><h4>Washio</h4></a>
		<a id="b1" href="honest-company"><h4>The Honest Company</h4></a>
		<a id="b2" href="task-rabbit" ><h4>Task Rabbit</h4></a>
		<a id="b3" href="hassle" ><h4>Hassle</h4></a>
		<a id="b3" href="bizzby" ><h4>Bizzby</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
	 		
	 		<div class="brief"><iframe width="560" height="315" src="https://www.youtube.com/embed/ZUG9qYTJMsI" frameborder="0" allowfullscreen></iframe><br><br><h2 class="pages">Founded<br>in July 2011</h2><br>by Michael Dubin - Mark Levine</div>
	 		
	 		<div class="brief">Dollar Shave Club is an American, Venice, California-based company, that delivers razors and other personal grooming products by mail. The company positions itself as a cost-effective and convenient alternative to retail chains. <br><br>
	 		In March 2012, the company launched a YouTube video entitled “Our Blades Are F***ing Great” featuring CEO Michael Dubin. The video prompted 12,000 orders in a two-day span after it was released, and has received over 19 million views as of June 2015.<br> <br>
	 		In June 2013, Dollar Shave Club released a second video on YouTube called "Let's Talk About #2", which again starred its CEO and promoted One Wipe Charlies. The video won the Shorty Award in 2014 for best use of Social Media. <span class="italic">Wikipedia</span><br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/3FOae1V1-Xg" frameborder="0" allowfullscreen></iframe><br><br>	 			<a href="http://www.dollarshaveclub.com/" class="btn" style="width:255px;" target="_blank">www.dollarshaveclub.com</a>

</div>


	 	</div>
	</div>
</div>
</body>