<body>

<div class="jumbotron"><br>
  <img src="images/foundry.png" style="width:18%; min-width:180px;" class="imgcenter" alt="...">
  <img src="images/title.png" style="width:50%; min-width:300px" class="imgcenter" alt="...">
</div>


<div class="row" id="contentrow">
  <div class="col-sm-6 col-md-4">
    <a href="brief" class="boxa" > <div class="box">
      <div class="caption">
        <p>
                
          <h2>INFORMATION</h2>
          
        </p>
      </div>
    </div></a>
  </div>



  <div class="col-sm-6 col-md-4">
   <a href="/dollar-shave-club" class="boxa" > <div class="box">
      <div class="caption">
        <p>
          <h2>INSPIRATION</h2>
       </p>
      </div>
    </div></a>
  </div>


 <div class="col-sm-6 col-md-4">
    <a href="/team" class="boxa" ><div class="box">
      <div class="caption">
        <p>
          <h2>TEAM</h2>
        </p>
      </div>
    </div></a>
  </div>

  <div class="col-sm-6 col-md-4">
   <a href="/business-model" class="boxa"> <div class="box2">
      <div class="caption">
        <p>
          <h2>BUSINESS MODEL</h2>
        </p>
      </div>
    </div></a>
  </div>



  <div class="col-sm-6 col-md-4">
    <a href="http://www.theuselessweb.com/" target="_blank" class="boxa" ><div class="boxbreak2">
      <div class="caption">
        <p> 
          <h2>
          <img src="images/mug4.png" style="width:36px;" class="imgcenter"  alt="..."><br>
          Need<br>a break ?</h2>
        </p>
      </div>
    </div></a>
  </div>


<div class="col-sm-6 col-md-4">
   <a href="/customer-validation" class="boxa"> <div class="box2">
      <div class="caption">
        <p>
          <h2>CUSTOMER VALIDATION</h2>
        </p>
      </div>
    </div></a>
  </div>


  <div class="col-sm-6 col-md-4">
   <a href="/design" class="boxa"> <div class="box">
      <div class="caption">
        <p>
          <h2>DESIGN</h2>
      </p>
      </div>
    </div> </a>
  </div>


  <div class="col-sm-6 col-md-4">
    <a href="/demo" class="boxa">
      <div class="box2">
      <div class="caption">
        <p>
          <h2>DEMO / PITCH<br>PRESENTATION</h2>
        </p>
      </div>
    </div></a>
  </div>


  <div class="col-sm-6 col-md-4">
    <a href="/have-fun" class="boxa"><div class="box">
      <div class="caption">
        <p>
          <h2>Final Advice</h2>
        </p>
      </div>
    </div></a>
  </div>

</div>


<div id="sponsors">
  <ul>
    <li>
      <a href="http://www.ff.co/" target="_blank" >
          <img src="images/ff.png" alt="...">
      </a>
    </li>
    <li>
      <a href="http://entp.io" target="_blank">
          <img src="images/entp.png"  alt="...">
      </a>
    </li>
    <li>
      <a href="https://stripe.com/gb" target="_blank">
          <img src="images/stripe.png"  alt="...">
      </a>
    </li>
    <li>
      <a href="http://www.twillio.com/" target="_blank">
          <img src="images/Twilio.png"  alt="...">
      </a>
    </li>
    <li>
      <a href="http://aws.amazon.com/fr/" target="_blank" >
          <img src="images/awslogo.png"  alt="...">
      </a>
    </li>
  </ul>
</div>

</body>