<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Inspiration</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" href="dollar-shave-club" ><h4>Dollar Shave Club</h4></a>
		<a id="b1" href="washio"><h4>Washio</h4></a>
		<a id="b1" href="honest-company"><h4>The Honest Company</h4></a>
		<a id="b2" href="task-rabbit" ><h4>Task Rabbit</h4></a>
		<a id="b3" class="activ" href="hassle" ><h4>Hassle</h4></a>
		<a id="b3" href="bizzby" ><h4>Bizzby</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
			<div class="brief">
	 			<iframe width="560" height="315" src="https://www.youtube.com/embed/D7qIkytuLsU" frameborder="0" allowfullscreen></iframe>
	 			<br><br><h2 class="pages">Founded<br>in February 2012</h2><br>by Jules Coleman - Alex Depledge - Tom Nimmo
	 		</div>
	 		
	 		<div class="brief">Hassle.com is an online marketplace which matches working professionals with local pre-vetted home cleaners. Using their postcode, customers can search through local cleaner profiles to find the person who best suits their needs. The cleaners charge a flat rate of £10 per hour and pay a fee when they find a regular customer through the platform or 10% of the value of the booking for one time cleans.<br><br>In June 2014, The Times listed Hassle.com as one of the top ten disruptive digital startups. <span class="italic">Wikipedia</span><br><br><br>
	 			<a href="http://hassle.com/uk" class="btn" style="width:180px;" target="_blank">www.hassle.com</a>
			</div>	

	 	</div>
	</div>
</div>
</body>


