<body><div class="container-fluid">
	<table style="width:100%">
<div id="left"><h3></h3></div>
<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
<div class="clear"></div>
</table>
   

<div class="row">

	<div class="col-md-2" id="menuleft" >
		
	</div>

	 <div class="col-md-10">
<div class="insidecontent" >
	 		 

	 		<div class="checkout"> <img src="images/square198.png"  style="width:35px; margin:0 auto; margin-bottom:50px;" alt="..."><br>Get connected instantly to the people you met<br>during the hackathon. Follow them on Twitter or email them that you enjoyed the time you spent together. You just extended your network!</div>


	<div class="checkout" style="color:#df4434;">
But hey, seriously... <br>The last advice is to have fun!</div>
	 		<div class="brief" style="text-align:center!important;">At the end of the week-end, you’ll have a cool (and most likely buggy), shiny new app, met some awesome people and drank (a lot of) Red Bull. You will be taking back home your polaroid selfies and even perhaps a prize!</div>
	 		



			</div>


	 	</div>

</div>
</div>
</body>

