<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Inspiration</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" href="dollar-shave-club" ><h4>Dollar Shave Club</h4></a>
		<a id="b1" href="washio"><h4>Washio</h4></a>
		<a id="b1" class="activ" href="honest-company"><h4>The Honest Company</h4></a>
		<a id="b2" href="task-rabbit" ><h4>Task Rabbit</h4></a>
		<a id="b3" href="hassle" ><h4>Hassle</h4></a>
		<a id="b3" href="bizzby" ><h4>Bizzby</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
	 		<div class="brief">
	 			<iframe width="560" height="315" src="https://www.youtube.com/embed/x_WvKwjdyeA" frameborder="0" allowfullscreen></iframe>
	 			<br><br><h2 class="pages">Founded<br>in 2011</h2><br>by Jessica Alba - Brian Lee<br>Sean Kane - Christopher Gavigan
	 		</div>
	 		
	 		<div class="brief">The Honest Company is a consumer goods company, co-founded by actress Jessica Alba, that emphasizes non-toxic household products to supply the marketplace for ethical consumerism. The company had $170 million in 2014 sales and was valued at $1.7 billion as of August 2015. The company has raised multiple rounds of venture capital and anticipates an initial public offering in the near future. Honest serves the United States and Canada and is making plans to serve England, Australia and China in the near future.<span class="italic">Wikipedia</span><br><br>"I founded The Honest Company on this idea: Everything that touches you and your family everything in your home needs to be nontoxic, needs to be effective and beautiful to look at, and needs to be affordable." <br><br>– Jessica Alba<br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/czKah-BGwYo" frameborder="0" allowfullscreen></iframe><br><br><br>
	 			<a href="http://www.honest.com/" class="btn" style="width:180px;" target="_blank">www.honest.com</a>
			</div>	 	
	 	</div>
	</div>
</div>
</body>




