<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row">
	<div id="menuleft">
		<div class="col-md-2">
		<a id="b4" data-src="/brief" onClick="loadFrame(this)"><h4>Brief & Inspirations</h4></a>
		<a id="b1" data-src="/agenda" onClick="loadFrame(this)"><h4>Agenda</h4></a>
		<a id="b2" data-src="/criteria" onClick="loadFrame(this)"><h4>Criteria</h4></a>
		<a id="b3" data-src="/prizes" onClick="loadFrame(this)"><h4>Prizes</h4></a>
		</div>
	</div>
	 <div class="col-md-10">
 <iframe id="frame1" scrolling="yes" style="border:none" width="100%" height="700px"></iframe>


</div>

</div>