<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>
 

<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft">
		<a id="b4" href="brief"  onClick="loadFrame(this)"><h4>Brief</h4></a>
		<a id="b1" href="agenda" onClick="loadFrame(this)"><h4>Agenda</h4></a>
		<a id="b1" href="checklist"><h4>Check List</h4></a>
		<a id="b2" href="judges" class="activ" ><h4>Judges</h4></a>
		<a id="b2" href="criteria" onClick="loadFrame(this)"><h4>Criteria</h4></a>
		<a id="b3" href="prizes" onClick="loadFrame(this)"><h4>Prizes</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
	<img src="images/judges.png"  alt="...">

		<div class="brief" style="float:left;">
	    		<a href="https://twitter.com/unilever" target="_blank">
					<img src="images/judge01.png"   alt="..." title="" style="width:170px; float:left;">
				</a>					
				<div style="float:left;margin-top:40px;margin-left:30px;"><h2 class="pages">NITIN PARANJPE</h2>
				President of <a href="https://twitter.com/unilever" target="_blank">Unilever's Home Care business</a>
				</div>
				<div class="clear"></div>
		</div>

		<div class="brief" style="float:left;">
	    		<a href="https://twitter.com/unilever" target="_blank">
					<img src="images/judge02.png"   alt="..." title="" style="width:170px; float:left;">
				</a>					
				<div style="float:left;margin-top:40px;margin-left:30px;"><h2 class="pages">HENRY LANE FOX</h2>
				Partner <a href="		https://twitter.com/Founders_Forum
" target="_blank">@Founders_Forum</a>

				</div>
				<div class="clear"></div>
		</div>

		<div class="brief" style="float:left;">
	    		<a href="https://twitter.com/unilever" target="_blank">
					<img src="images/judge04.png"   alt="..." title="" style="width:170px; float:left;">
				</a>					
				<div style="float:left;margin-top:40px;margin-left:30px;"><h2 class="pages">STUART EDMUNDS</h2>
				Global Brand VP at <a href="https://twitter.com/unilever" target="_blank">Unilever</a>
				</div>
				<div class="clear"></div>
		</div>

		<div class="brief" style="float:left;">
	    		<a href="https://twitter.com/unilever" target="_blank">
					<img src="images/judge05.png"   alt="..." title="" style="width:170px; float:left;">
				</a>					
				<div style="float:left;margin-top:40px;margin-left:30px;"><h2 class="pages">KATHRYN PARSONS</h2>
				CEO & Co-Founder <a href="https://twitter.com/decodedco" target="_blank">Decoded</a>
				</div>
				<div class="clear"></div>
		</div>

		<div class="brief" style="float:left;">
	    		<a href="https://twitter.com/unilever" target="_blank">
					<img src="images/judge06.png"   alt="..." title="" style="width:170px; float:left;">
				</a>					
				<div style="float:left;margin-top:40px;margin-left:30px;"><h2 class="pages">FRANK MEEHAN</h2>
				Co-Founder <a href="https://twitter.com/smartup_io" target="_blank">SparkLabs, SmartUp.io</a>
				</div>
				<div class="clear"></div>
		</div>

	</div>
</div>

</div>
</body>

