<div id="head">
	<div id="left"><h3>Information</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>

<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" > 
		<a id="b4" href="brief" ><h4>Brief</h4></a>
		<a id="b1" href="agenda" ><h4>Agenda</h4></a>
		<a id="b1" href="checklist"><h4>Check List</h4></a>
		<a id="b2" href="criteria"  ><h4>Criteria</h4></a>
		<a id="b3" href="prizes" class="activ" ><h4>Prizes</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
<img src="images/prizes.png"  alt="..."><br><br>
	<div class="prizelist">
	    <a href="http://www.apple.com/uk/shop/buy-watch/apple-watch" target="_blank">
	<img src="images/prizes2.png"  alt="..." class="left">
		</a>
		<a href="http://jawbone.com/speakers/minijambox" target="_blank">
	<img src="images/prizes3.png"  alt="..." class="right">
		</a>	
		<a href="http://www.parrot.com/uk/products/minidrones/" target="_blank">
	<img src="images/prizes4.png"  alt="..." class="left">
 		</a>
 		<a href="http://gopro.com/" target="_blank">
	<img src="images/prizes5.png"  alt="..." class="right">
		</a>
		<a href="http://the3doodler.com/" target="_blank">
	<img src="images/prizes6.png"  alt="..." class="left">
		</a>
		<a href="http://www.livescribe.com/uk/" target="_blank">
	<img src="images/prizes7.png"  alt="..." class="right">
		</a>
	<div class="clear"></div>
	</div>
	</div>




