<body>
	<div class="container-fluid">
	<div id="head">
	<div id="left"><h3>Inspiration</h3></div>
	<div id="right" >
	<a href="hackthehouse" class="btn">Go BACK</a>
	</div>
	<div class="clear"></div>
</div>


<div class="row" style="margin-top:100px;">
	<div class="col-md-2" id="menuleft" >
		<a id="b4" href="dollar-shave-club" ><h4>Dollar Shave Club</h4></a>
		<a id="b1" href="washio"><h4>Washio</h4></a>
		<a id="b1" href="honest-company"><h4>The Honest Company</h4></a>
		<a id="b2" class="activ" href="task-rabbit" ><h4>Task Rabbit</h4></a>
		<a id="b3" href="hassle" ><h4>Hassle</h4></a>
		<a id="b3" href="bizzby" ><h4>Bizzby</h4></a>
	</div>
	 <div class="col-md-10">
	 	<div class="insidecontent" >
			<div class="brief">
	 			<iframe width="560" height="315" src="https://www.youtube.com/embed/WzcCxGvvShI" frameborder="0" allowfullscreen></iframe>
	 			<br><br><h2 class="pages">Founded<br>in 2008</h2><br>by Leah Busque
	 		</div>
	 		
	 		<div class="brief">TaskRabbit is an online and mobile marketplace that allows users to outsource small jobs and tasks to others in their neighborhood. Users name the task they need done and the price they are willing to pay, and a network of pre-approved contractors bid to complete the job. It was founded by Leah Busque in 2008 and has received $37.5 million in funding. Busque founded TaskRabbit when she had no time to buy dog food, basing it on the idea of “neighbors helping neighbors.” <span class="italic">Wikipedia</span><br><br><br>
	 			<a href="http://www.taskrabbit.com/" class="btn" style="width:200px;" target="_blank">www.taskrabbit.com</a>
			</div>	
	 	</div>
	</div>
</div>
</body>