<body>
	<div class="container-fluid">
		<table style="width:100%">
			<div id="left">
				<h3>Team</h3>
			</div>
			<div id="right" >
				<a href="hackthehouse" class="btn">Go BACK</a>
			</div>
			<div class="clear"></div>
		</table>
		<div class="col-md-2" id="menuleft" >
			<a id="b4" class="activ" href="team" >
				<h4>Team</h4>
			</a>
			<a id="b4" class="tools" target="_blank" href="http://www.businessnewsdaily.com/6139-workplace-collaboration-tips.html">
				<h4>6 Tips for getting your team to work together</h4>
			</a>	
			<a id="b4" class="tools" target="_blank" href="http://info.shine.com/article/10-tips-for-quality-teamwork/89.html">
				<h4>10 Tips for quality teamwork</h4>
			</a>
		</div>

		<div class="col-md-10">
			<div class="insidecontent" >
		 		<div class="checkout">
		 			"Make sure your team and you are doing<br>something you can build in 24 hrs.<br><br>Otherwise, you’ll spend the majority of the time postulating on all<br>the different things you could build and trying to prioritize the features,<br>and you’ll be left with a bunch of diagrams on the back of a napkin,<br> but no actual thing that you can demo!"
		 		</div>
	 			<div class="brief">
			 		<span class="italic" style="text-align:center;">
			 			_____<br>Posted on November 25, 2012 by Nate Aune
			 		</span>
			 		<br>
			 		<span class="italic">
			 			We found Nate's advices on <a href="http://www.appsembler.com/blog/10-tips-for-hackathon-success/" style="color:#fff;" target="_blank">Appsembler</a>
			 		</span>
	 			</div>
		 		<div class="brief">
		 			<h2 class="pages">
		 				Attract talent to your team
		 			</h2>
		 			<br>
					If you are a business guy and can’t write code, you’re going to need to convince a developer to join your team. Likewise, if you’re a developer but can’t design, you’re team is going to be much stronger if you can attract designer talent. Without the right people on your team, you’re going to be handicapped and have a hard time getting to a working prototype.
					<br><br>
					How do you attract talent to your team? Most hackathons provide an opportunity to pitch your idea before the hackathon starts. Write down a concise description of what you want to build, who it’s for, and why they would want to use it (what’s the problem that you’re trying to solve). And then practice your pitch so that it comes off naturally when you stand up to present it. State very clearly who you are looking for, and if you have a particular technology in mind, mention that too. If you’re planning to develop in Django, you just might attract other developers who want to code in Django too.
				</div>
			</div>
		</div>
	</div>
</body>
